/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

button, summary {
	cursor: pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
nav {
	background-color: black;
	color: white;
}

article:nth-child(odd) {
	background-color: aliceblue;
}

Section:nth-child(even) {
	background-color: black;
	color: white;
}



img {
	width: auto;
	height: 400px;
}
